In [1]:
import pandas as pd

In [3]:
melb_data = 'ZILLOW-M1300_MPPRSF.csv'
df = pd.read_csv(melb_data)
df.head()

         Date     Value
0  2019-01-31  3.258065
1  2018-12-31  2.710027
2  2018-11-30  3.031038
3  2018-10-31  3.543187
4  2018-09-30  3.284644

In [4]:
df.describe()

            Value
count  101.000000
mean     4.334462
std      0.949265
min      2.439619
25%      3.510004
50%      4.384936
75%      4.999657
max      6.671114

In [5]:
df.head()

         Date     Value
0  2019-01-31  3.258065
1  2018-12-31  2.710027
2  2018-11-30  3.031038
3  2018-10-31  3.543187
4  2018-09-30  3.284644